{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="col-md-4">
                           <h2>Profil</h2>
                           {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                           <ul>
                               <li>age : {{ app.user.age }}</li>
                               <li>famille : {{ app.user.famille }}</li>
                               <li>race : {{ app.user.race }}</li>
                               <li>nourriture : {{ app.user.nourriture }}</li>
                           </ul>
                       </div>
                        <div class="col-md-8">
                            <h2>lister d'amis</h2>
                            <table ng-controller="FriendsCtrl" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Supprime</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="friend in friends">
                                        <td>{{ '{{ friend.name }}' }}</td>
                                        <td><a href="deleteFriend\{{ '{{ friend.id }}' }}"><button type="button" class="btn btn-danger">Supprime</button></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="loading_friends">
                                <button class="buttonload btn btn-success">
                                    <i class="fa fa-refresh fa-spin"></i> Loading
                                </button>
                            </div>
                       </div>
                        <div class="col-md-10">
                            <input type="text" ng-model="query" placeholder="Search">
                            <table ng-controller="UserCtrl" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>User name</th>
                                        <th>Ajouter</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="user in users | filter:query">

                                            <td> {{ '{{ user.name }}' }} </td>
                                            <td><a href="addFriend\{{ '{{ user.id }}' }}"><button type="button" class="btn btn-primary">ajouter</button></a></td>

                                    </tr>
                                </tbody>
                            </table>
                            <div id="loading">
                                <button class="buttonload btn btn-success">
                                    <i class="fa fa-refresh fa-spin"></i> Loading
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-6">
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
